<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hola</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link rel="favicon" href="assets/panda.png">
</head>

<body>

    <img class="holla" src="/assets/holla.png">
    <div class="board">
        <div class="title">
            <p class="X-bold"> Welcome to Holla</p>
            <p class="s-font"> Holla helps to connect to friends and family, with over 2 million users connecting couldnt be more fun</p>
        </div>
        <div class="campaign">
            <img src="/assets/campaign.png" width="300" height="300" />
        </div>
        <div class="form">
            <form action="/login" method="POST" class="form-horizontal" role="form">
                <div class="form-group"> <label for="username" class="col-sm-3 control-label">Username</label>
                    <div class="col-sm-9"> <input type="text" name="username" class="form-control" id="username" placeholder="Username or Email">                        </div>
                </div>
                <div class="form-group"> <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9"> <input  name="password" type="password" class="form-control" id="password" placeholder="Password"> </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9"> <button type="submit" class="btn btn-default">Sign in</button> <a href="/" type="submit" class="btn btn-primary">Forgot Password</a>                        </div>
                </div>
                <br/>
                <br/>
                <div class="form-group">
                    <p class="text-center">Not yet a member ?</p>
                    <div class="col-sm-6 col-sm-offset-4"> <a href="/signup" type="submit" class="btn btn-danger">Sign up</a> </div>
                </div>
            </form>
        </div>
    </div>


    <div class="footer bold">
        <ul class="footer-menu bold">
            <li>About</li>
            <li>Mobile</li>
            <li>Terms</li>
            <li>Privacy</li>
            <li>Help</li>
        </ul>
    </div>
</body>



</html>